<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<main>

    <h1>Поиск постов</h1>

    <form action="/tag/">
        <p>По тегу</p>
        <select name="tag" >
            {% for tags in s %}
                <option value="{{ tags }}">{{ tags }}</option>
            {% endfor %}

<!--                <option value="еда">еда</option>-->
<!--                <option value="природа">природа</option>-->
<!--                <option value="вечеринка">вечеринка</option>-->
        </select>
        <input type="submit" value="Найти" class="button">
    </form>

    <hr>

    <a href="/post" class="button">Добавить пост</a>

</main>
</body>
</html>
